
<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="services">
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label>services</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="digital">
        <ion-icon name="wallet-outline"></ion-icon>
        <ion-label>digtal document</ion-label>
      </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

