<ion-header>
  <ion-toolbar>
    <ion-title>Digital Documents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <section class="container">

    <ion-label>Personal Documents</ion-label>
    
    <div>
      <ion-chip color="success" style="margin-top: 12px;">National ID</ion-chip>
      <!-- id card -->
      <ion-img src="../../../assets/idbg.png" style="padding: 20px;"></ion-img>
    </div>
    
    <ion-label>Vehicle Documents</ion-label>
    
    <div>
      <ion-chip color="success"  style="margin-top: 12px;">Driving License</ion-chip>
      <ion-img src="../../../assets/Saudi_licene_front.jpg" style="padding: 20px;"></ion-img>
      
    </div>
  </section>
</ion-content>
