#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.greeting{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.greeting > div:first-child{
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}
.top-row-icons{
display: flex;
justify-content: space-between;
padding: 15px;
}

.top-row-icons > div > ion-icon{
  margin: 8px;
  }

  .id-card {
    padding: 20px;
  }

  .topServicesDisplayAll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
  }

  .cardServices{
    display: flex;
    padding: 10px;
    font-size: .7rem;
    border-radius: 7px;
  }